.wrap {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row;

  .listFriend {
    height: 100%;
    width: 300px;
    border-right: 1px solid #ccc;
    box-sizing: border-box;
  }

  .main {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;

    .header {
      width: 100%;
      height: 55px;
      border-bottom: 1px solid #ccc;
      box-sizing: border-box;
    }

    .subGroup {
      flex: 1;
      display: flex;
      flex-direction: row;
      .conversation {
        flex: 1;
        height: 100%;
        display: flex;
        flex-direction: column;

        .conversationMessages {
          flex: 1;
        }

        .inputArea {
          border-top: 1px solid #ccc;
          box-sizing: border-box;
          width: 100%;
          height: 50px;
        }
      }

      .profile {
        width: 250px;
        height: 100%;
        border-left: 1px solid #ccc;
        box-sizing: border-box;
      }
    }
  }
}