.simple-chat-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

.sp-header {
    flex: 1;
}

.sp-body {
    flex: 15;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    position: relative;
}

.sp-body-left {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    box-sizing: border-box;
    border-right: 1px solid black;
}

.sp-body-right {
    position: absolute;
    top: 0;
    left: 300px;
    bottom: 0;
    width: calc(100% - 300px);
}

.sp-body-right .sp-main-content {
    position: absolute;
    top: 0;
    bottom: 0;
    width: calc(100% - 400px);
    min-width: 400px;
}

.sp-body-right .sp-group-info {
    position: absolute;
    top: 0;
    width: 400px;
    right: 0;
    height: 100%;
    border-left: 1px solid black;
    box-sizing: border-box;
    padding: 10px;
    overflow: auto;
}

.sp-group-info .section-title {
    font-size: 17px;
    color: #ccc;
}

.sp-conservation-content {
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% - 50px);
    width: 100%;
    box-sizing: border-box;
    overflow: auto;
}

.sp-input {
    position: absolute;
    height: 50px;
    width: 100%;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    border-top: 1px solid black;
    display: flex;
    align-items: center;
    background-color: white;
}

.sp-input > div:first-child {
    flex: 6;
    padding: 0 5px;
    box-sizing: border-box;
}

.sp-input > div:nth-child(2) {
    flex: 1;
    box-sizing: border-box;
    height: 38px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sp-input > div:nth-child(2) > .fa {
    color: #999;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    font-size: 22px;
}

.sp-input > div:nth-child(2) > .fa:hover {
    background-color: #bfbfbf;
    color: white;
}

.sp-input > div:nth-child(3) {
    flex: 1;
    padding: 0 5px;
    box-sizing: border-box;
}

.sp-input #btn-submit-msg .fa-spinner {
    display: none;
    margin: 2px;
    float: left;
}

.sp-input #btn-submit-msg.loading .fa-spinner {
    display: inherit;
}

.sp-left-filter-user {
    /*position: absolute;*/
    height: 35px;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 5px;
}

.sp-left-list-user {
    position: relative;
    height: calc(100% - 35px);
    width: 100%;
    left: 0;
    box-sizing: border-box;
    overflow: auto;
}

.sp-left-list-user .sp-list-user-loader {
    display: none;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.sp-left-list-user.loading .sp-list-user-loader {
    display: flex;
}

.user-item {
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    cursor: pointer;
}

.user-item.active {
    background-color: #cccccc63;
    border-radius: 8px;
}

.user-item:hover {
    border-top: 1px solid #989898;
    border-bottom: 1px solid #989898;
}

.user-item:not(:first-child) {
    margin-top: 10px;
}

.user-item .user-avatar {
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
}

.user-item.online .user-avatar {
    box-shadow: 0 0 0px 3px #0c960cd9;
}

.user-item .user-avatar img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.user-item .user-info {
    font-size: 12px;
    padding-left: 12px;
    box-sizing: border-box;
}

.user-item .user-info .fa-circle {
    font-size: 6px;
    color: #909090;
}

.user-item .user-info div:first-child {
    font-weight: bold;
}

.sp-msg {
    position: relative;
    display: flex;
    margin-top: 7px;
}

.sp-msg-container {
    position: relative;
    display: flex;
    padding: 0px 10px;
}

.sp-msg-container .sp-msg-avatar {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
}

.sp-msg-container .sp-msg-content {
    max-width: 400px;
    font-size: 13px;
    border-radius: 15px;
    padding: 6px 12px 7px;
    margin: 0 5px;
}

.sp-msg-container .sm-msg-action {
    display: flex;
    align-items: center;
}

.sp-msg-container .sm-msg-action .fa {
    border-radius: 13px;
    background-color: white;
    padding: 5px;
    cursor: pointer;
    color: #999;
}

.sp-msg-container .sm-msg-action .fa:hover {
    background-color: rgba(222, 222, 222, 0.79);
}

.sp-msg:hover .sp-msg-container .sm-msg-action {
    display: flex;
}

.sp-msg-container .sm-msg-action .dropdown-menu {
    padding: 0;
    min-width: auto;
    font-size: 12px;
}

.sp-msg.time {
    justify-content: center;
    font-size: 12px;
    margin: 10px 0;
}

.sp-msg.loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    background-color: #e8e8e8e3;
    z-index: 2;
    margin: 0;
    display: none;
}

.sp-main-content.loading .sp-msg.loader {
    display: flex;
}

.sp-msg.mime {
    justify-content: flex-end;
}

.sp-msg.mime + .sp-msg.mime {
    margin-top: 3px;
}

.sp-msg.mime .sp-msg-avatar {
    display: none;
}

.sp-msg.mime .sp-msg-container {
    flex-direction: row-reverse;
}

.sp-msg.mime .sp-msg-content {
    background-color: rgb(0, 153, 255);
    color: white;
}

.sp-msg.their .sp-msg-content {
    background-color: #f1f0f0;
    color: black;
}

.sp-msg-content.img {
    overflow: hidden;
    box-sizing: border-box;
    padding: 0;
    cursor: pointer;
}

.sp-msg-content.img > img {
    max-width: 250px;
    max-height: 150px;
    object-fit: cover;
}

.sp-msg-content.file {
    cursor: pointer;
}

.sp-msg-content.file a {
    color: white;
}

.sp-msg.their {
    justify-content: flex-start;
}

.sp-group-info .group-info-avatar .group-3-plus-info {

}

.sp-group-info .group-info-avatar .group-3-plus-info .group-avatars {
    position: relative;
    text-align: center;
}

.sp-group-info .group-info-avatar .group-3-plus-info .group-avatars:hover .button-change-group-avatar {
    display: inherit;
}

.sp-group-info .group-info-avatar .group-3-plus-info .group-avatars .button-change-group-avatar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.sp-group-info .group-info-avatar .group-3-plus-info .group-name {
    width: 200px;
    padding: 2px 7px;
    border: 1px solid white;
    border-radius: 7px;
    margin: 10px auto;
    max-height: 100px;
    outline: 0;
    overflow: auto;
    text-align: center;
}

.sp-group-info .group-info-avatar .group-3-plus-info .group-name:focus {
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.sp-group-info .group-info-avatar .group-3-plus-info .group-avatars img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    vertical-align: top;
}

.sp-group-info .group-info-avatar .group-3-plus-info .group-avatars .more {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #ccc;
    display: inline-block;
    vertical-align: top;
}

.sp-group-info .group-info-avatar .group-3-plus-info .group-avatars .more > div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sp-group-info .group-2-info > div {
    text-align: center;
}

.group-info-shared-images .images-wrap {
    width: 100%;
}

.group-info-shared-images .images-wrap:after {
    content: '';
    display: block;
    clear: both;
}

.group-info-shared-images .images-wrap .img-wrap {
    position: relative;
    width: 24%;
    padding-top: 24%;
    float: left;
    box-sizing: border-box;
    margin-left: 1px;
    margin-top: 1px;
    cursor: pointer;
}

.group-info-shared-images .images-wrap .img-wrap:hover {
    box-shadow: 0 0 7px 0px #ccc;
    z-index: 2;
}

.group-info-shared-images .images-wrap .img-wrap img {
    position: absolute;
    max-height: 100%;
    max-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.group-info-shared-files ul {
    list-style: none;
    padding: 0;
    font-size: 12px;
}

.group-info-shared-files ul li a {
    padding: 3px 5px;
    display: block;
    cursor: pointer;
}

.group-info-shared-files ul li a:hover {
    text-decoration: underline !important;
}
