<html>
<head>
    <base href="/">
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/bower_components/components-font-awesome/css/all.min.css">
    <link rel="stylesheet" href="/css/simple-chart.css">
</head>
<body>
<div class="simple-chat-wrap">
    <div class="sp-header">

    </div>
    <div class="sp-body">
        <div class="sp-body-left">
            <div class="sp-left-filter-user">
                <input type="text"
                       class="form-control form-control-sm"
                       id="input-search-user">
            </div>
            <div class="sp-left-list-user">
                <div class="sp-list-user-loader">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
                <!--List user will be rendered here-->
            </div>
        </div>
        <div class="sp-body-right">
            <div class="sp-main-content">
                <div class="sp-msg loader">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>

                <div class="sp-conservation-content">
                    <!--<div class="sp-msg their">
                        <div class="sp-msg-container">
                            <div class="sp-msg-avatar">
                                <img src="http://placehold.it/30" alt="">
                            </div>

                            <div class="sp-msg-content">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry
                            </div>

                            <div class="sm-msg-action">
                                <div class="sm-msg-action">
                                    <div class="dropdown dropup">
                                        <i class="fa fa-ellipsis-h" data-toggle="dropdown" title="Khác"></i>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="#">Xóa</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="sp-msg time">
                        14:00
                    </div>

                    <div class="sp-msg mime">
                        <div class="sp-msg-container">
                            <div class="sp-msg-avatar">
                                <img src="http://placehold.it/30" alt="">
                            </div>

                            <div class="sp-msg-content">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry
                            </div>

                            <div class="sm-msg-action">
                                <div class="sm-msg-action">
                                    <div class="dropdown dropup">
                                        <i class="fa fa-ellipsis-h" data-toggle="dropdown" title="Khác"></i>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="#">Xóa</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="sp-msg mime">
                        <div class="sp-msg-container">
                            <div class="sp-msg-avatar">
                                <img src="http://placehold.it/30" alt="">
                            </div>

                            <div class="sp-msg-content img">
                                <img src="http://placehold.it/400x500" alt="">
                            </div>

                            <div class="sm-msg-action">
                                <div class="sm-msg-action">
                                    <div class="dropdown dropup">
                                        <i class="fa fa-ellipsis-h" data-toggle="dropdown" title="Khác"></i>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="#">Xóa</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="sp-msg mime">
                        <div class="sp-msg-container">
                            <div class="sp-msg-avatar">
                                <img src="http://placehold.it/30" alt="">
                            </div>

                            <div class="sp-msg-content file">
                                <a>
                                    <i class="fa fa-file-download fa-2x"></i>

                                    abc.xxx
                                </a>
                            </div>

                            <div class="sm-msg-action">
                                <div class="sm-msg-action">
                                    <div class="dropdown dropup">
                                        <i class="fa fa-ellipsis-h" data-toggle="dropdown" title="Khác"></i>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="#">Xóa</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="sp-msg their">
                        <div class="sp-msg-container">
                            <div class="sp-msg-avatar">
                                <img src="http://placehold.it/30" alt="">
                            </div>

                            <div class="sp-msg-content">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry
                            </div>

                            <div class="sm-msg-action">
                                <div class="sm-msg-action">
                                    <div class="dropdown dropup">
                                        <i class="fa fa-ellipsis-h" data-toggle="dropdown" title="Khác"></i>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="#">Xóa</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="sp-msg their">
                        <div class="sp-msg-container">
                            <div class="sp-msg-avatar">
                                <img src="http://placehold.it/30" alt="">
                            </div>

                            <div class="sp-msg-content">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry
                            </div>

                            <div class="sm-msg-action">
                                <div class="dropdown">
                                    <i class="fa fa-ellipsis-h" data-toggle="dropdown" title="Khác"></i>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Xóa</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                </div>
                <div class="sp-input">
                    <div>
                        <input type="text"
                               name="message-content"
                               class="form-control"
                               id="input-msg">
                    </div>
                    <div>
                        <i class="fa fa-file-image" id="btn-input-image" data-toggle="tooltip" data-placement="top" title="Hình ảnh"></i>
                        <i class="fa fa-file" id="btn-input-file" data-toggle="tooltip" data-placement="top" title="File"></i>

                        <input type="file"
                               style="display: none"
                               id="input-image"
                               multiple
                               accept="image/x-png,image/gif,image/jpeg">

                        <input type="file" style="display: none" id="input-file" multiple>
                    </div>
                    <div>
                        <button class="btn btn-block btn-secondary"
                                id="btn-submit-msg"
                                type="button">
                            <i class="fa fa-spinner fa-spin"></i>
                            <i class="fa fa-paper-plane"></i>
                            Gửi
                        </button>
                    </div>
                </div>
            </div>

            <div class="sp-group-info">
                <div class="group-info-avatar">
                    <div class="group-3-plus-info">
                        <div class="group-avatars">
                            <div class="button-change-group-avatar">
                                <button class="btn btn-secondary btn-sm">Đổi ảnh đại diện</button>
                            </div>
                            <div>
                                <img src="http://placehold.it/70" alt="">
                                <img src="http://placehold.it/70" alt="">
                                <img src="http://placehold.it/70" alt="">
                                <div class="more">
                                    <div>
                                        3+
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="group-name" contenteditable="">
                            Tên nhóm
                        </div>
                    </div>

                    <div class="group-2-info">
                        <div>
                            <img src="http://placehold.it/150" alt="">
                        </div>

                        <div class="">
                            Trần Đức Huy
                        </div>
                    </div>
                </div>
                <hr>
                <div class="group-info-shared-images">
                    <div class="section-title">Hình ảnh đã chia sẻ</div>
                    <div class="images-wrap">
                        <div class="img-wrap"><img src="http://placehold.it/100" alt=""></div>
                        <div class="img-wrap"><img src="http://placehold.it/100" alt=""></div>
                        <div class="img-wrap"><img src="http://placehold.it/100" alt=""></div>
                        <div class="img-wrap"><img src="http://placehold.it/100" alt=""></div>
                        <div class="img-wrap"><img src="http://placehold.it/100" alt=""></div>
                    </div>
                </div>
                <hr>
                <div class="group-info-shared-files">
                    <div class="section-title">File đã chia sẻ</div>
                    <ul>
                        <li><a><span class="fa fa-file"></span> File 1</a></li>
                        <li><a><span class="fa fa-file"></span> File 1</a></li>
                        <li><a><span class="fa fa-file"></span> File 1</a></li>
                        <li><a><span class="fa fa-file"></span> File 1</a></li>
                        <li><a><span class="fa fa-file"></span> File 1</a></li>
                        <li><a><span class="fa fa-file"></span> File 1</a></li>
                        <li><a><span class="fa fa-file"></span> File 1</a></li>
                        <li><a><span class="fa fa-file"></span> File 1</a></li>
                        <li><a><span class="fa fa-file"></span> File 1</a></li>
                        <li><a><span class="fa fa-file"></span> File 1</a></li>
                        <li><a><span class="fa fa-file"></span> File 1</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const SOCKET_NAMES = JSON.parse('<%- socketNames %>');
</script>

<!--Thư viện-->
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/socket.io-client/dist/socket.io.js"></script>


<script src="/js/helper.js"></script>
<script src="/js/html-template.js"></script>
<script src="/js/chat-page.js"></script>
<script>
  // $(function () {
  //   $('[data-toggle="tooltip"]').tooltip();
  // })
</script>
</body>
</html>
