<html>
<head>
    <base href="/">
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <form id="login-form">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email"
                           class="form-control"
                           id="email"
                           name="email"
                           required
                           placeholder="Nhập email">
                </div>

                <div class="form-group">
                    <label for="password">Mật khẩu</label>
                    <input type="password"
                           class="form-control"
                           id="password"
                           name="password"
                           required
                           placeholder="Nhập mật khẩu">
                </div>

                <div class="form-group form-check">
                    <a href="/dang-ki" class="form-text">Đăng kí</a>
                </div>

                <button type="button" id="btn-submit-login-form" class="btn btn-primary">Đăng nhập</button>
            </form>
        </div>
    </div>
</div>
<!--Thư viện-->
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/js/helper.js"></script>
<script src="/js/login-page.js"></script>
</body>
</html>
