<html>
<head>
    <base href="/">
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <form id="register-form">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email"
                           class="form-control"
                           id="email"
                           name="email"
                           required
                           placeholder="Nhập Email">
                </div>
                <div class="form-group">
                    <label for="password">Mật khẩu</label>
                    <input type="password"
                           class="form-control"
                           id="password"
                           name="password"
                           required
                           placeholder="Nhập mật khẩu">
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Xác nhận mật khẩu</label>
                    <input type="password"
                           class="form-control"
                           id="confirmPassword"
                           name="confirmedPassword"
                           required
                           placeholder="Xác nhận mật khẩu">
                </div>
                <div class="form-group">
                    <label for="name">Tên</label>
                    <input type="text"
                           class="form-control"
                           id="name"
                           name="name"
                           required
                           placeholder="Nhập tên">
                </div>
                <a href="/dang-nhap" class="form-text">Đăng nhập</a>
                <button type="button" id="btn-submit-register-form" class="btn btn-primary">Đăng kí</button>
            </form>
        </div>
    </div>
</div>
<!--Thư viện-->
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/js/helper.js"></script>
<script src="/js/register-page.js"></script>
<script>
</script>
</body>
</html>
