.inner_spinner {
  position: relative;

  &__loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(153, 153, 153, 0.76);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}